In [ ]:
print(0.0009)
print(0.00000000999)

0.0009
9.99e-09

In [ ]:
print(complex(3))
print(complex(3.9))
print(complex(0.3))

(3+0j)
(3.9+0j)
(0.3+0j)

In [ ]:
print(complex(3.))
print(complex(3.3333333333333333333333333333333))
print(3+2j)

(3+0j)
(3.3333333333333335+0j)
(3+2j)

In [ ]:
#Operator Precedence
# **>* and / and // and %>+ and - 
print(8/4/2)
print((4/2)/(8/2))
print(2**3**2) 
print((2**3)**2) #so operates from right to left
print(2**(2**3))
print(2**2+8/2) #2**2 is 4 then 8/2 is 4 and the lowest precedence 4+4 is 8
#not 2**2 is 4 then 4+8 is 12 then 12/2 is 6

1.0
0.5
512
64
256
8.0

In [ ]:
print((4+5j).real)
print((4+5j).imag)

print((4.17181789+5.219929j).real)
print((4+5.378738j).imag)

print((4-9.39j).real)
print((4-9.39j).imag)

4.0
5.0
4.17181789
5.378738
4.0
-9.39

In [ ]:
print((4+5j).conjugate())
#everything in python is object

(4-5j)

In [ ]:
print((0).bit_length()) #0
print((1).bit_length()) #1
print((2).bit_length()) #10
print((3).bit_length()) #11
print((4).bit_length()) #100
print((5).bit_length()) #101
print((6).bit_length()) #110
print((7).bit_length()) #111
print((8).bit_length()) #1000
print((9).bit_length()) #1001
print((123).bit_length()) 
print(bin(123))

0
1
2
2
3
3
3
3
4
4
7
0b1111011

In [ ]:
print(abs(-5.22222222222222222222222222222222)) #automatically rounds up the huge number
print(abs(-4-9j))

5.222222222222222
9.848857801796104

In [ ]:
print(round(4.5)) #when 4.5 rounded value is 4
print(round(4.51)) #when 4.51 even just 0.01 more than the previous one rounded value is 5
print(round(4.519999999999)) #round(number) gives a rounded value which is an integer
print(round(4.555555,3)) #difference between round(number) and round(number,upto_which_decimal_point_?)

4
5
5
4.556

In [ ]:
import math
print(math.sqrt(25)) #square root of 25
print(math.exp(0)) #exponential of 0
print(math.log(10)) #ln if not defined the base of log
print(math.log(10,10)) #log(value,base) log10 of 10
print(math.log(3,10)) #log 3 of 10
print(math.sin(0))
print(math.cos(90))
print(math.tan(45))
#cot? sec? cosec?
print(math.sin(90)/math.cos(90)) 
print(math.asin(0.5)) #arcsin
print(math.acos(1)) #arccos
print(math.atan(0.5)) #arctan
print(math.asinh(0.5)) #asinh inverse hyperbolic function
print(math.hypot(2,3)) #euclidean norm square root of x^2+y^2 
print(math.sqrt(2**2+3**2)) #it gives the same result as hypot
print(math.factorial(3)) #1*2*3
print(math.erf(0.55555555)) #err function
print(math.degrees(0.5)) #convert radian to degree
print(math.radians(90)) #degrees to radian

5.0
1.0
2.302585092994046
1.0
0.47712125471966244
0.0
-0.4480736161291701
1.6197751905438615
-1.995200412208242
0.5235987755982989
0.0
0.4636476090008061
0.48121182505960347
3.605551275463989
3.605551275463989
6
0.5679416142540463
28.64788975654116
1.5707963267948966

In [ ]:
from math import *
print(pi)
print(sqrt(25))
print(e)
#if from math import * is written before using math module math.pi can be deducted to pi so it's easier right?
#but if there's some other module running in a same code it should be avoided because there may be some other functions in other modules but names are the same so they can conflict
#shortcuts are always bad ok?

3.141592653589793
5.0
2.718281828459045

In [ ]:
num=0
print(id(num))

10914464

In [ ]:
#how to find out the variable type e.g. int,string,boolean etc and how to find out location or address of a variable
n=True
print(type(n))
print(id(n))

<class 'bool'>
10302848

In [ ]:
print(3==3)
print(0 and 0 and 1)
print(True or True or True)
print(1<3<=9)
print((1 and 1 or 1)or(1 or 0 and 1))

True
0
True
True
1

In [ ]:
#not>and>or is the precedence for logical operators
print(not 8<9) #this supposed to be True right? but not operator makes it inverse of what it is which is False
print(not(True and True and True))

False
False

In [ ]:
print(bool(0.00000001))
print(bool(0.0))
print(bool(1.999))
print(bool(-0.9))
print(bool(-1.23239729))

True
False
True
True
True

In [ ]:
a=9
b=9
print(id(a))
print(id(b))

x=3
y=3
print(id(x))
print(id(y))

x=12
y=x
print(id(x))
print(id(y))

10914752
10914752
10914560
10914560
10914848
10914848

In [ ]:
a=9
b=9
print(a is b)
print(1 is not 2)
print(True or True is not False)

True
True
True

In [ ]:
print(type(complex(2,3).real) is int)
print(complex(2,3).real)

False
2.0

Strings

In [ ]:
print('a ''b ''c ')

a b c

In [ ]:
print('drizzles on my ''\n''rooftop')

drizzles on my
rooftop

In [ ]:
print('a'*9)
print('joy datta''\n'*3)

aaaaaaaaa
joy datta
joy datta
joy datta

In [ ]:
print(str(0.29919))
print(str(3e9))
num=str(3.3e9)
type(num)
print(type(num))

0.29919
3000000000.0
<class 'str'>

In [ ]:
#Linefeed
print("drizzle creates\npuddles")

drizzle creates
puddles

In [ ]:
name="joy datta"
print(name[4:]) #from index 4 to the rest
print(name[:]) 
print('joy' in name)
print('anika' in 'joy datta')

datta
joy datta
True
False

In [ ]:
print('joy datta'.endswith('datta'))
print('anika ahsan'.startswith('anika'))

True
True

In [ ]:
print('i am,joy,and you?,megh'.split(",")) #returns a string list after spliting it by a specified character here ","

['i am', 'joy', 'and you?', 'megh']

In [ ]:
for i in range(0,10):
  print(i,end='')
for x in range(0,10):
  print(x)
#without using end='' python always go to the next line for each time the loop is executing

01234567890
1
2
3
4
5
6
7
8
9

In [ ]:
#String formatting 
print('{} loves {} and {}'.format('joy','drizzles','petrichor'))
#print('{0} loves {1} and {2}'.format('joy','drizzles','petrichor')) is the same as the written one and gives exactly the same result

joy loves drizzles and petrichor

In [ ]:
#String formatting 
print('{1} loves {2} and {0}'.format('petrichor','joy','drizzles'))

joy loves drizzles and petrichor

In [ ]:
#String formatting 
print('{0} plus {0} is equal to {1}'.format(5,5+5))

5 plus 5 is equal to 10

Lists ans others

In [ ]:
#python lists can  be used to implement a useful data structure which is stack
#assume you want to make a stack of some numbers first you put 1 on the stack then 2 then 3 then 4 then 5 so 5 is the last element and its on the top of the stack so when you pop 5 will be deleted from the stack
#LISTS ARE SIMPLY STACKS
nums=[1,2,3,4,5]
nums.pop()
print(nums)

[1, 2, 3, 4]

In [ ]:
#spliting names from a text
text="Joy and Anika and Trishala and Megh and Srinkhala"
print(text.split('and'))

['Joy ', ' Anika ', ' Trishala ', ' Megh ', ' Srinkhala']

In [ ]:
print(' '.join(('joy','anika','trishala')))
print('\n'.join(reversed(('one','two','three'))))

joy anika trishala
three
two
one

In [ ]:
#Fibonacci series 
n=10
print('1','1')
a,b=1,1 
for x in range(2,n+1):
  a,b=b,a+b
  print(b,end='_')

1 1
2_3_5_8_13_21_34_55_89_

In [ ]:
#zip
a=[1,2,3,4,5]
b=['a','b','c','d','e']
for x in zip(a,b):
  print(x)
x=list(zip(a,b))
print(x)
#but how to unzip?
a,b=zip(*x)
print(a)
print(b)
print(type(a))

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [ ]:
n=0
while True:
  n+=1
  print(n)
  if (n%3==0 and n%5==0):
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
print('hihihi'[::2])

hhh

In [ ]:
import math
def cosec(x):
    return 1/math.sin(x)
print(cosec(math.pi/4))

csc=cosec
print(csc(math.pi/4))

print(csc(math.pi))

print(csc(90))
try:
  csc(0)
  
except ZeroDivisionError:
  print('sin0 is 0 so 1/0 is not defined')

else:
  print('fine') #if csc(value>0 then it prints fine)

1.4142135623730951
1.4142135623730951
8165619676597685.0
1.1185724071637084
sin0 is 0 so 1/0 is not defined

In [ ]:
#sometimes a function is needed with an optional argument
#if the argument is given then it will work
#but if not any value for that argument is given then a default value will work for that argument 
def length(value,units='m'):
    return '{:.2f}{}'.format(value,units)

print(length(1.555,'m'))
print(length(2.553535,'ft'))
print(length(3.3322999,'mile'))

def func(numlist=[]):
    numlist.append(1)
    return numlist
print(func())
print(func([2,3]))
print(func([2,4,1,2,4,9]))

1.55m
2.55ft
3.33mile
[1]
[2, 3, 1]
[2, 4, 1, 2, 4, 9, 1]

In [ ]:
#m is set for the first time
#when m is given a value again but it cannot be automatically saved to the (val,n=m) this m is the previous m
#if m is not defined in the function then m will always remain the same as the first time it was saved 
m='m'
def janina(val,n=m):
    print(m)
    return val,n

print(janina(2))

m='mmmmmm'
print(janina(3))

m='a'
print(janina(9,m))

m
(2, 'm')
mmmmmm
(3, 'm')
a
(9, 'a')

In [ ]:
def func():
    a=3
    print(a)
a=9
print(a)
func()
print(id(func()))
print(id(a))

9
3
3
10306432
10914752

errors and exceptions

In [ ]:
#python distinguishes between SYNTAX ERROR & EXCEPTIONS
#Syntax Error is basically mistakes in the grammar like if a=2: but for comaparing a==2 (==) should be used so it's a Syntax Error another example is if you use reserved keys like lambda it will give you an Syntax Error
#Exceptions are basically runtime errors caused by attempting an invalid operation
#Syntax Errors cannot be handled cause it will not let the code run
#Exceptions can be handled

#Name Error
try:
  print(a) #variable a is not defined
except NameError:
  print('Name Error')

#Zero Division Error
try:
  print(1/0) #1 cannot be divided by 0
except ZeroDivisionError:
  print('Zero Division Error')

#Type Error
try:
  print('drizzles'+9) #different type of values cannot be concatenated
except TypeError:
  print('Type Error')

#Value Error
try:
  n=int('drizzles') #type is integer but the value is string
except ValueError:
  print('Value Error')

#File Not Found Error
try:
  file=open('drizzles.txt','r') #this file does not exist
except FileNotFoundError:
  print('File Not Found Error')

#Index Error
try:
  a=[1,2,3,4,5,6,7,8,9,10] #there is no index 100
  print(a[100])
except IndexError:
  print('Index Error')

#Key Error
try:
  a={1:10,10:100,100:1000}
  print(a[2])
except KeyError:
  print('Key Error')

#Multiple Exception Handling
try:
  print(a)
  a=int('drizzles')
except (NameError,ValueError):
  print('Name Error & Value Error')

#Raising Exceptions
n=10
try:
  if n!=3: #though this condition does not give an value error but by raising ValueError it will give an Error and can be handled by writing except ValueError
    raise ValueError
except ValueError:
  print('Value Error')

{1: 10, 10: 100, 100: 1000}
Zero Division Error
Type Error
Value Error
File Not Found Error
Index Error
Key Error
{1: 10, 10: 100, 100: 1000}
Name Error & Value Error
Value Error

dictionaries and sets

In [ ]:
dictionary=dict([('joy',22),('anika',21),('brishti',21)])
print(dictionary)
#dict() is a constructor which makes dictionary

{'joy': 22, 'anika': 21, 'brishti': 21}

In [ ]:
#suppose there is a dictionary
dictionary={1:'joy',2:'anika',3:'brishti'}
#check for an element in the dictionary that is not present in the dictionary
#print(dicitionary[]) you were supposed to write this right? but it will give an exception, so what to do?
#get() function is here to help you
print(dictionary.get(4)) #key 4 is not present in the dictionary, get() rather gives a None not an exception
#so if you want to print a message like "value for this key is not present in the dictionary" what to do?
print(dictionary.get(4,'value for this key is not present in the dictionary'))

#OH YES! KEY & INDEX are not same, KEY is for dictionary and INDEX is for LISTS and TUPLES
#KEY VS. INDEX

None
value for this key is not present in the dictionary

In [ ]:
#how to retrieve only keys from a dictionary?
dictionary={1:'joy',2:'anika',3:'brishti'}
keys=dictionary.keys()
print(keys)

#print only the keys yes?
#for x in range(0,len(dictionary)):
  #print(keys[x])
#but this dict_key does not support indexing so what to do?
#you can make a list of keys
keys=list(dictionary.keys())
print(keys) #keys are now in a list GREAT!
#print only the keys?
for x in range(0,len(dictionary)):
  print(keys[x])

dict_keys([1, 2, 3])
[1, 2, 3]
1
2
3

set

In [ ]:
a=set((1,2,3))
b=set((1,4,9))
print(a)
print(b)
c={7,8,9}
print(c)
a.add(9)
print('a=',a)
a.remove(9)
print('a=',a)
b.discard(4)
print(b)
c.pop()
print(c)
c.clear()
print(c)

{1, 2, 3}
{1, 4, 9}
{8, 9, 7}
a= {1, 2, 3, 9}
a= {1, 2, 3}
{1, 9}
{9, 7}
set()

In [ ]:
a={1,2,3,4,5,6,7,8,9}
b={1,4,9}
print(a.isdisjoint(b)) #is a a disjoint with  b?
print(a.issubset(b)) #is a a subset of b?
print(b.issubset(a)) #is b a subset of a?
print(a.issuperset(b)) #is a superset of b?
c={1,2,3}.union({4,5,6}) #union of a and b
print(c)
c={1,2,3,4,5,6,7,8,9}.intersection({1,4,9}) #intersection of a and b
print(c)
c=(({1,2,3}.union({4,5,6})).union({6,8,9})).union({10,11,12}) #this is easier than writing the same thing for several times
print(c)
print(a.difference(b)) #gives the values that are not present in any of the set

False
False
True
True
{1, 2, 3, 4, 5, 6}
{1, 4, 9}
{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12}
{2, 3, 5, 6, 7, 8}
{2, 3, 5, 6, 7, 8}

syntactic sugar

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[len(a)-1])
print(a[-1])
print(a[-2]) #isn't is easier to write a[-1].....a[-2] than writing a[len(a)-1].....a[len(a)-2]?

10
10
9

In [ ]:
#you have to assign same value for several variables
a=b=c=2 # isn't is easier to write a=b=c=2 than writing a=2,b=2,c=2?
print(a,b,c)
print(id(a),id(b),id(c)) #a b and c both refering to a address
print(id(2))

2 2 2
10914528 10914528 10914528
10914528

In [ ]:
a,b=1,2
#this is easier
a,b=b,a
print(a)
#than writing this code
a,b=1,2
x=a
a=b
b=x
print(a)

2
2

In [ ]:
if 2==2==2.0:
  print('good')

good

In [ ]:
#list comprehension
numlist=[1,2,3,4,5,6,7,8,9,10]
print([x**2 for x in numlist])

n=[x**2 for x in numlist]
print(n)
#VS.

x=[]
for a in numlist:
  x.append(a**2)
print(x)

print([x**2 if x % 2==0 else x for x in numlist])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [ ]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(list(map(sum,a)))
#return a list which is the summation of each element of lists in a

[6, 15, 24]