Shift Code

In [ ]:
alphabets=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"," "]
def encode(text,num):
  encoded_list=[]
  for letter in text:
    if (alphabets.index(letter)+num)<=26: #alphabets.index(letter) return the index number of a letter in the alphabets list
      encoded_list.append(alphabets[alphabets.index(letter)+num]) 
    elif (alphabets.index(letter)+num)>26:
      encoded_list.append(alphabets[alphabets.index(letter)+num-27])   
  return encoded_list

def decode(text,num): #encode and decode are just reverse operations of each other
  decoded_list=[]
  for letter in text:
    if (alphabets.index(letter)-num)>=0:
      decoded_list.append(alphabets[alphabets.index(letter)-num])
    elif (alphabets.index(letter)-num)<0:
      decoded_list.append(alphabets[alphabets.index(letter)-num+27])      
  return decoded_list

def get_data():
  text=input("enter a text")
  num_to_shift=int(input("enter a number"))
  data_tuple=(text,num_to_shift)
  return data_tuple

def main():
  again=True
  while again==True:
    print("1. Make a code")
    print("2. Decode a message")
    print("3. Quit")
    check=int(input("enter the selection"))
    if check==1:
      data_tuple=get_data()
      encoded_list=encode(data_tuple[0],data_tuple[1])
      encoded_string=''.join(encoded_list) #joins the elements of a list to make a string e.g. ['j','o','y'] to joy
      print(encoded_string)
    elif check==2:
      decoded_list=decode(encoded_string,data_tuple[1])
      decoded_string=''.join(decoded_list)
      print(decoded_string)
    elif check==3:
      again=False

main()

1. Make a code
2. Decode a message
3. Quit
enter the selection1
enter a texthey hooman whats up
enter a number9
qngiqxxvjwieqjbaicy
1. Make a code
2. Decode a message
3. Quit
enter the selection2
hey hooman whats up
1. Make a code
2. Decode a message
3. Quit
enter the selection3

In [ ]:
import sqlite3
with sqlite3.connect("artgalleryarartists.db") as db:
  cursor=db.cursor()
check=True
cursor.execute("""CREATE TABLE IF NOT EXISTS arts(id integer PRIMARY KEY,
  name text NOT NULL,
  price text NOT NULL,
  artist text NOT NULL);""")
cursor.execute("""CREATE TABLE IF NOT EXISTS artists(id integer PRIMARY KEY,
  name text NOT NULL,
  city text NOT NULL);""")
while check==True:
  check_=input("do you want to enter any arts?")
  if check_=="yes":
    id_=input("id")
    name_=input("name")
    price_=input("price")
    artist_=input("artist")
    cursor.execute("INSERT INTO arts(id,name,price,artist)VALUES(?,?,?,?)",(id_,name_,price_,artist_))
    check=True
  else:
    check=False
check_x=False
while check_x==False:
  check_=input("do you want to enter any artists?")
  if check_=="yes":
    id_=input("id")
    name_=input("name")
    city_=input("city")
    cursor.execute("INSERT INTO artists(id,name,city)VALUES(?,?,?)",(id_,name_,city_))
    check_x=False
  else:
    check_x=True
cursor.execute("SELECT * FROM arts")
for x in cursor.fetchall():
  print(x[0],"_____",x[1],"_____",x[2])
cursor.execute("SELECT * FROM artists")
for x in cursor.fetchall():
  print(x[0],"_____",x[1],"_____",x[2])

cursor.execute("DELETE FROM arts WHERE name='xyz'")

cursor.execute("SELECT * FROM arts")
for x in cursor.fetchall():
  print(x[0],"_____",x[1],"_____",x[2],"_____",x[3])
cursor.execute("SELECT * FROM artists")
for x in cursor.fetchall():
  print(x[0],"_____",x[1],"_____",x[2])

cursor.execute("SELECT * FROM arts WHERE artist='anika'")
for x in cursor.fetchall():
  print(x[0],"_____",x[1],"_____",x[2],"______",x[3])

do you want to enter any arts?yes
id1
namejoy
price10000000
artistanika
do you want to enter any arts?yes
id2
namestarry night
price100000000000000
artistvincent van gogh
do you want to enter any arts?yes
id3
namejojo
price1000000
artistanika
do you want to enter any arts?yes
id4
namexyz
price1000000
artistxyz
do you want to enter any arts?yes
id5
namehihihd
price10000000000000000
artistxyz
do you want to enter any arts?no
do you want to enter any artists?yes
id1
nameanika
citydhaka
do you want to enter any artists?yes
id2
namevincent van gogh
citynetharlands
do you want to enter any artists?yes
id3
namexyz
cityidk
do you want to enter any artists?no
1 _____ joy _____ 10000000
2 _____ starry night _____ 100000000000000
3 _____ jojo _____ 1000000
4 _____ xyz _____ 1000000
5 _____ hihihd _____ 10000000000000000
1 _____ anika _____ dhaka
2 _____ vincent van gogh _____ netharlands
3 _____ xyz _____ idk
1 _____ joy _____ 10000000 _____ anika
2 _____ starry night _____ 100000000000000 _____ vincent van gogh
3 _____ jojo _____ 1000000 _____ anika
5 _____ hihihd _____ 10000000000000000 _____ xyz
1 _____ anika _____ dhaka
2 _____ vincent van gogh _____ netharlands
3 _____ xyz _____ idk
1 _____ joy _____ 10000000 ______ anika
3 _____ jojo _____ 1000000 ______ anika