String formatting

print('hi {}, your age is {}, and i like your {}'.format(name,age,like))

print(f'hi {name}, your age is {age}, and i like your {like}') #python 3.8

In [ ]:
#old style string formatting
print('hi {}, your age is {} and i like your {}'.format('joy','22','smile'))
print('hi {1}, your age is {0} and i like your {2}'.format(22,'joy','smile'))

hi joy, your age is 22 and i like your smile
hi joy, your age is 22 and i like your smile

In [ ]:
name=input('enter a name')
age=int(input('enter age'))
like=input('enter what you like')

print(f'hi {name}, your age is {age}, and i like your {like}') #this is new in python 3.8

enter a namejoy
enter age22
enter what you likesmile
hi joy, your age is 22, and i like your smile

In [ ]:
num1=3
num2=5
def add(num1,num2):
  return num1+num2
print(f'{num1} + {num2} = {add(num1,num2)}') #call add() and pass the parameters num1 and num2

3 + 5 = 8

In [ ]:
check_the_condition= 98 is 100
print(f'the condition is {str(check_the_condition)}') #bool changed to string

the condition is False

Continue, Break, Pass

In [ ]:
fruit_list=['apple','orange','grapes','mango','berry']
for every_fruits in fruit_list:
  if every_fruits is 'grapes':
    continue #continue stops the loop for once and goes for the next execution of the loop
             #like for 10 times a loop is running but continue executed when 3rd time the loop is running so the loop stops there and goes for 4th execution of the loop
  print(every_fruits)

apple
orange
mango
berry

In [ ]:
fruit_list=['apple','orange','grapes','mango','berry']
for every_fruits in fruit_list:
  if every_fruits is 'grapes':
    break #stops the loop, like if the fruit is grapes then the rest of the fruits will not be printed since the code is stopped executing
  print(every_fruits)

apple
orange

In [ ]:
string='Python'
for letter in string:
  if letter=='h':
    pass
    print('This is h')
  print(letter)

P
y
t
This is h
h
o
n

Reading and Writing a file

In [ ]:
with open('text.txt',mode='w') as f:
  f.write('Megh and Brishti loves each other\n')
  f.write('both of them are pluviophiles\n')
  f.write('little puddles on the substreets make them feel crazy\n')
  f.write('smell of the wet environment is called petrichor\n')
  f.write('Megh Brishti')


#########################################################################################################################################################
words=[]
total_words=[]
with open('text.txt',mode='r') as f:
    for lines in f:
        stripped_string=lines.strip()
        words=stripped_string.split(' ')
        total_words.extend(words)
        print(words)
        #print(lines.strip(),end=' ')
print(total_words)
print(len(total_words))

#just the unique words in the text file
unique_words=set(total_words)
print(unique_words)
print(len(unique_words))
print(type(unique_words))

unique_words=list(unique_words)
unique_words.sort()
for words in unique_words:
  print(words,end=', ')
###########################################################################################################################################################

#write unique words to a csv file
with open('unique_words.csv',mode='w') as f:
  for words in unique_words:
    f.write(words+',')

print('\n')
with open('unique_words.csv',mode='r') as f:
  for words in f:
    print(words)

['Megh', 'and', 'Brishti', 'loves', 'each', 'other']
['both', 'of', 'them', 'are', 'pluviophiles']
['little', 'puddles', 'on', 'the', 'substreets', 'make', 'them', 'feel', 'crazy']
['smell', 'of', 'the', 'wet', 'environment', 'is', 'called', 'petrichor']
['Megh', 'Brishti']
['Megh', 'and', 'Brishti', 'loves', 'each', 'other', 'both', 'of', 'them', 'are', 'pluviophiles', 'little', 'puddles', 'on', 'the', 'substreets', 'make', 'them', 'feel', 'crazy', 'smell', 'of', 'the', 'wet', 'environment', 'is', 'called', 'petrichor', 'Megh', 'Brishti']
30
{'make', 'substreets', 'on', 'and', 'puddles', 'are', 'wet', 'other', 'is', 'Megh', 'loves', 'Brishti', 'little', 'pluviophiles', 'each', 'them', 'environment', 'feel', 'smell', 'both', 'crazy', 'of', 'the', 'called', 'petrichor'}
25
<class 'set'>
Brishti, Megh, and, are, both, called, crazy, each, environment, feel, is, little, loves, make, of, on, other, petrichor, pluviophiles, puddles, smell, substreets, the, them, wet,

Brishti,Megh,and,are,both,called,crazy,each,environment,feel,is,little,loves,make,of,on,other,petrichor,pluviophiles,puddles,smell,substreets,the,them,wet,

OOP, Class, Object, Inheritence, Polymorphism

In [ ]:
class Person:
    def __init__(self,name: str,age: int,year_of_birth: int=None):
        self.__name=name
        self.__age=age
        self.year_of_birth=year_of_birth
    def set_or_change_name(self,new_name):
        if self.__has_any_number(new_name):
            print('Name cannot have any numbers')
        else:
            self.__name=new_name
    def get_name(self):
        return self.__name

    def get_age(self):
        return self.__age

    def get_summary(self):
        if self.year_of_birth==None:
            return f'Name: {self.__name}, Age: {self.__age}'
        else:
            return f'Name: {self.__name}, Age: {self.__age}, Year of Birth: {self.year_of_birth}'

    def __has_any_number(self,check_name):
        return  '0' in check_name

person_list=[Person('Joy',22,1998),
                   Person('Anika',21,1999),
                   Person('Shraddha',32,1988),
                   Person('Trishala',28,1992),
                   Person('Trisha',22)]
#print the name whose age is more than 22
for person in person_list:
    if person.get_age()>22:
        print(person.get_name(),' ',person.get_age())
        print(person.get_summary())

#print the name whose year of birth is after 1998
for person in person_list:
    if person.year_of_birth is not None and person.year_of_birth>1992:
        print(person.year_of_birth,' ',person.get_name())
        print(person.get_summary())

#print person_list will give a list of person objects not the direct values of those person's name, age and year of birth
print(person_list)
#how to make a list of the names of person objects?
name_list_of_the_persons=[]
for person in person_list:
    name_list_of_the_persons.append(person.get_name())
print(name_list_of_the_persons)

#Inheritence
class Student(Person):
    def __init__(self, name: str, age: int, student_id: str, university: str, year_of_birth: int = None):
        super().__init__(name, age, year_of_birth)
        self.__student_id=student_id
        self.__university=university
    def get_student_summary(self):
        return f'Name: {self.__name}, Age: {self.__age}, Student ID: {self.__student_id}, University: {university}, Year of Birth: {self.year_of_birth}'

    def get_university_name(self):
        return self.__university

    def get_student_id(self):
        return self.__student_id
student_list=[Student('Joy',22,'123','bracu',1998),
              Student('Anika',21,'124','bracu',1999),
              Student('Shraddha',28,'125','ut austin',1992),
              Student('Trishala',28,'126','uc los angeles',1992),
              Student('Mrittika',21,'127','uc san diego')]
print(student_list)
#print the students from bracu
for student in student_list:
    if student.get_university_name()=='bracu':
        print(student.get_summary())

#print all the informations of students whose age is more than 21
for student in student_list:
    if student.get_age()>21:
        print(student.get_summary(),f' Student ID: {student.get_student_id()}, University: {student.get_university_name()}')

class Teacher(Person):
    def __init__(self, name: str, age: int, department: str):
        super().__init__(name, age)
        self.__department=department

print('\nMIXED LIST: ')
mixed_list=[Person('Anika',22,1999),
                Student('Shraddha',28,'128','ut austin',1992),
                Teacher('Mrittika',28,'cse')]
for any_person in mixed_list:
    print(any_person.get_summary())

Shraddha   32
Name: Shraddha, Age: 32, Year of Birth: 1988
Trishala   28
Name: Trishala, Age: 28, Year of Birth: 1992
1998   Joy
Name: Joy, Age: 22, Year of Birth: 1998
1999   Anika
Name: Anika, Age: 21, Year of Birth: 1999
[<__main__.Person object at 0x7f807a757710>, <__main__.Person object at 0x7f807a7577b8>, <__main__.Person object at 0x7f807a7576d8>, <__main__.Person object at 0x7f807a7577f0>, <__main__.Person object at 0x7f807a757828>]
['Joy', 'Anika', 'Shraddha', 'Trishala', 'Trisha']
[<__main__.Student object at 0x7f807a7690f0>, <__main__.Student object at 0x7f807a757860>, <__main__.Student object at 0x7f807a757898>, <__main__.Student object at 0x7f807a7578d0>, <__main__.Student object at 0x7f807a757908>]
Name: Joy, Age: 22, Year of Birth: 1998
Name: Anika, Age: 21, Year of Birth: 1999
Name: Joy, Age: 22, Year of Birth: 1998  Student ID: 123, University: bracu
Name: Shraddha, Age: 28, Year of Birth: 1992  Student ID: 125, University: ut austin
Name: Trishala, Age: 28, Year of Birth: 1992  Student ID: 126, University: uc los angeles

MIXED LIST:
Name: Anika, Age: 22, Year of Birth: 1999
Name: Shraddha, Age: 28, Year of Birth: 1992
Name: Mrittika, Age: 28

Lambda function

In [ ]:
def square(n):
  return n*n

sq=square(5)
print(sq)

#anonymous function
squared_num= lambda x: x*x
print(squared_num(5))

25
25

filter()

filter() can filter a list like from a list with mixed numbers it can return a list with only odd or even numbers

[1,2,3,4,5]

only odds [1,3,5]

In [ ]:
nums=[1,2,3,4,5,6,7,8,9]
odds=list(filter(lambda x:(x%2!=0),nums))
print(odds)

[1, 3, 5, 7, 9]

In [ ]:
nums=[1,2,3,4,5]
sqrd=list(filter(lambda x: x*x,nums))
print(sqrd)
#it does not work

[1, 2, 3, 4, 5]

map()

map() cannot reduce number of elements in a list but can return the same number of elements according to the given lambda function definition

[1,2,3,4,5]

only odds? odds=list(map(lambda x: x%2!=0, [1,2,3,4,5]))

why [True, False, True, False, True]?

cause it only checks the condition and append the bool values to the new list but cannot make a new list with reduced number of elements
understand the difference

In [ ]:
nums=[1,2,3,4,5,6,7,8,9]
evens=list(map(lambda x:x%2==0,nums))
print(evens)

[False, True, False, True, False, True, False, True, False]

In [ ]:
nums=[1,2,3,4,5]
sqrd=list(map(lambda x: x*x,nums))
print(sqrd)

[1, 4, 9, 16, 25]

reduce()

performs repetitive operation over the pairs of list

In [ ]:
from functools import reduce
nums=[1,2,3,4,5,6,7,8,9]
sum=reduce((lambda x,y:x+y),nums)
print(sum)

45

In [ ]:
from functools import reduce
nums=[1,2,3,4,5]
multiplication=reduce((lambda x,y:x*y),nums)
print(multiplication)

120

Linked List

In [ ]:
class Node:
    def __init__(self,value):
        self.prev=None
        self.next=None
        self.val=value

class DoubleLinkedList:
    def __init__(self):
        self.head=None
        self.tail=None
        self.size=0

    def add(self,value):
        node=Node(value)
        if self.tail is None:
            self.head=node
            self.tail=node
            self.size+=1
        else:
            self.tail.next=node
            node.prev=self.tail
            self.tail=node
            self.size+=1

    def remove(self,value):
        node=self.head
        while node is not None:
            if node.val==value:
                self.__remove(node)
                break
            node=node.next

    def __remove(self,node):
        if node.prev is None:
            self.head = node.next
        else:
            node.prev.next = node.next
        if node.next is None:
            self.tail = node.prev
        else:
            node.next.prev = node.prev
        self.size-=1

    def add_first(self,value):
        node=Node(value)
        self.head.prev=node
        node.next=self.head
        self.head=node
        self.size+=1

    def remove_last(self):
        self.tail=self.tail.prev
        self.tail.next=None
        self.size-=1
    def remove_first(self):
        self.head=self.head.next
        self.head.prev=None
        self.size-=1
    def __str__(self):
        nodes=[]
        node=self.head
        while node is not None:
            nodes.append(node.val)
            node=node.next
        return f"[{', '.join(str(val) for val in nodes)}]"

linked_list=DoubleLinkedList()
linked_list.add(1)
linked_list.add(3)
linked_list.add(4)
linked_list.add(7)
linked_list.add(8)
linked_list.add(9)
print(linked_list)
print(linked_list)

linked_list.remove(4)
print(linked_list)

linked_list.remove_first()
print(linked_list)

print(linked_list)

[1, 3, 4, 7, 8, 9]
[1, 3, 4, 7, 8, 9]
[1, 3, 7, 8, 9]
[3, 7, 8, 9]
[3, 7, 8, 9]

Arrays

In [ ]:
from array import *
arr=array('i',[1,3,4,2,5,7,6,8,9])
print(arr.typecode)
print(arr.itemsize,' Bytes')
print(arr.count(4),' number of 4s')
arr.extend(array('i',[10,11,12]))
print(arr)

i
4  Bytes
1  number of 4s
array('i', [1, 3, 4, 2, 5, 7, 6, 8, 9, 10, 11, 12])

In [ ]:
from array import *
file=open('numbers.bin','wb')
arr.tofile(file)

ints=array('i',[])
file=open('numbers.bin','rb')
ints.fromfile(file,12)
print(ints)

array('i', [1, 3, 4, 2, 5, 7, 6, 8, 9, 10, 11, 12])

In [ ]:
from array import *
numbers=array('i',[1,4,6,2,3,5,7,8,9])
list_=numbers.tolist()
print(type(list_))
print(list_)

arr=array('i',[])
arr.fromlist(list_)
print(arr)

<class 'list'>
[1, 4, 6, 2, 3, 5, 7, 8, 9]
array('i', [1, 4, 6, 2, 3, 5, 7, 8, 9])

graph

In [ ]:
graph={'a':['c'],
       'b':['c','e'],
       'c':['a','b','d','e'],
       'd':['c'],
       'e':['c','b'],
       'f':[]
       }

def gen_edges(graph):
    edges=[]
    for node in graph:
        for neighbor in graph[node]:
            edges.append((node,neighbor))
    return edges

def addEdge(graph,u,v):
    graph[u].append(v)

def addNode(graph,node):
  graph[node]=[]

def nodeDel(graph,node):
  del graph[node]
  keys=list(graph.keys())
  for key in keys:
    for neighbors in graph[key]:
      if neighbors==node:
        graph[key].remove(neighbors)

def edgeDel(graph,node,neighbor):        
  for neighbors in graph[node]:
    if neighbors==neighbor:
      graph[node].remove(neighbor)
  for neighbors in graph[neighbor]:
    if neighbors==node:
      graph[neighbor].remove(node)

def find_path(graph,start,end,path=[]):
  path.append(start)
  if start==end:
    return path
  for neighbors in graph[start]:
    if neighbors==end:
      path.append(neighbors)
      return path
  for neighbors in graph[start]:
    if neighbors not in path:
      new_path=find_path(graph,neighbors,end,path)
      if new_path:
        return new_path
      else:
        return None


print(gen_edges(graph))
print(find_path(graph,'b','a'))
addNode(graph,'g')
addEdge(graph,'g','b')
print(gen_edges(graph))
nodeDel(graph,'a')
print(gen_edges(graph))
nodeDel(graph,'c')
print(gen_edges(graph))
edgeDel(graph,'b','e')
print(gen_edges(graph))

[('a', 'c'), ('b', 'c'), ('b', 'e'), ('c', 'a'), ('c', 'b'), ('c', 'd'), ('c', 'e'), ('d', 'c'), ('e', 'c'), ('e', 'b')]
['b', 'c', 'a']
[('a', 'c'), ('b', 'c'), ('b', 'e'), ('c', 'a'), ('c', 'b'), ('c', 'd'), ('c', 'e'), ('d', 'c'), ('e', 'c'), ('e', 'b'), ('g', 'b')]
[('b', 'c'), ('b', 'e'), ('c', 'b'), ('c', 'd'), ('c', 'e'), ('d', 'c'), ('e', 'c'), ('e', 'b'), ('g', 'b')]
[('b', 'e'), ('e', 'b'), ('g', 'b')]
[('g', 'b')]